.newsletter {
    margin: 80px 0;
    text-align: center;

    @media (min-width: 1130px) {
        padding: 70px 63px;
    }
 
}

.news__intro-mobile {
    @media (min-width: 1130px) {
        display: none;
    }
}
.news__intro-desktop {
    display: none;
    img {
        object-fit: contain;
        max-width: 600px;
    }
    @media (min-width: 1130px) {
        display: flex;
        justify-content: center;
    }
}

.news__title-up {
    color: var(--text-accent-color);
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    padding: 20px 0;

    @media (min-width: 1130px) {
        text-align: left;
        padding: 10px 30px;
    }
}

.news__title {
    color: var(--primary-color);
    text-align: center;
    font-size: 45px;
    line-height: 55px;
    font-weight: 400;
    padding-bottom: 10px;

    @media (min-width: 1130px) {
        text-align: left;
        padding: 0 30px;
    }
}

.news__subtitle {
    margin-bottom: 30px;
    color: var(--text-accent-color);
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
    padding: 30px;
}

.news__btn-sub-block {
    display: flex;
    flex-direction: column;
    margin: 70px 0;
    padding: 0 30px;

    @media (min-width: 1130px) {
        padding: 0 30px;
        margin: 20px 0;
    }

}

.news__btn-title {
    color: var(--text-accent-color);
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    padding: 5px 0;

    @media (min-width: 1130px) {
        text-align: left;
    }
}

.news__btn-subtitle {
    color: var(--primary-color);
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    padding: 5px 0;
    margin-bottom: 25px;

    @media (min-width: 1130px) {
        text-align: left;
    }
}

.news__btn-intro {
    display: flex;
}

.btn__sub-input {
    background-color: var(--color-form);
    border-radius: 40px;
    border: 1px solid var(--color-decor);
    padding: 16px;
    color:var(--primary-color);
    margin-bottom: 15px;

    @media (min-width: 1130px) {
        margin-bottom: 0;
    }
}

.news__wrapper {
    padding: 35px 25px;
}


