.features {
    text-align: center;
}

.features_title {
    color: var(--primary-color);
    text-align: center;
    font-size: 45px;
    line-height: 55px;
    font-weight: 400;
    padding: 100px 0 10px 0;
}

.features_subtitle {
    color: var(--text-accent-color);
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
    padding: 20px;

    span {
        display: none;

        @media (min-width: 1130px) {
            display: block;
        } 
    }
    @media (min-width: 1130px) {
        padding: 20px 0 70px 0;
    }
}

.features__cards-desktop {
    display: none;

    @media (min-width: 1130px) {
        display: flex;
        justify-content: center;
    } 
}

.features__cards-mobile {
    place-items: center;
    @media (min-width: 1130px) {
        display: none;
    } 
}

.features__img-video {
    padding: 40px 0;

    iframe {
    border-radius: 15px;
    overflow: hidden;
    width: 350px;
    height: 200px;

    @media (min-width: 1130px) {
        width: 950px;
        height: 500px;
    } 
    }
}

.features__cards {
    padding: 0 70px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

}

.features__cards-intro {
    margin: 20px;
    padding: 0px 60px;
    max-width: 385px;


    @media (min-width: 1130px) {
        width: 255px;
    }

}

.f_card-title {
    color: var(--text-accent-color);
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    padding: 20px 0;
}

.f_card-subtitle {
    color: var(--primary-color);
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    padding-bottom:55px;
}
