.button {
    display: inline-block;
    background-color: var(--button-color);
    padding: 16px 62px;
    border-radius: 35px;
    border: none;
    text-decoration: none;
    color: var(--title-color);
    font-size: 1.1rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif; 
}

.button:hover {
    background-color: var(--button-hover-color);
    transition: background-color 0.4s ease;
}
