<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Figma Land</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-section.html">
      </section>
    </header>
    <main>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-features.html">
      </section>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-product.html">
      </section>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-newsletter.html">
      </section>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-partners.html">
      </section>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-testimonials.html">
      </section>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-pricing.html">
      </section>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-contacts.html">
      </section>
    </main>
    <footer>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.footer-section.html">
      </section>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

